
body{
    margin: 0;
    background-color: white;
    align-content: center;
}

.container{
    width: 80%;
    margin: 0 auto;
}
header{
    background: aqua;
}
header::after{
    content: '';
    display: table;
    clear: both;
}
footer{
    background: aqua;
    text-align: center;
}
.logo{
   
    width: 10%;
    float: left;
}

.search{
    width: 18px;
    margin: 0;
    padding: 0;
}
nav{
    float: right;
}
nav ul{
    margin: 0;
    padding: 0;
    list-style: none;

}

nav li{
    display: inline-block;
    margin-left: 70px;
    padding-top: 15px;
    position: relative;
}

nav a{
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    font-weight: 00;
}
nav a:hover{
    color:green;
    font-size: large;

}

nav a::before{
    content: '';
    display: block;
    width: 0%;
    height: 5px;
    background-color: black;
    position: absolute;
    top: 0;
    transition: all ease-in-out 250ms;
}

nav a:hover::before{
    width: 100%;
}

.searchContainer{
    margin: auto;
    margin-top: 20%;
    
}
.searchContainer > ul > li{
    font-size: larger;
    margin: 0 auto;
    text-align: center;
    list-style: none;
}
.bar{
    background-color: red;
    margin:auto;
    width:575px;
    border-radius:30px;
    border:1px solid #dcdcdc;
  }
  .bar:hover{
    box-shadow: 1px 1px 8px 1px #dcdcdc;
  }
  .bar:focus-within{
    box-shadow: 1px 1px 8px 1px #dcdcdc;
    outline:none;
  }
  .searchbar{
    border-radius: 30px;
    height:45px;
    border:none;
    width:500px;
    font-size:16px;
    outline: none;
  }
  .conditions ul li {
    list-style: none;
  }
  .condition a{
    color: blue;
    font-size: 30px;
    text-decoration: none;
  }

  .condition a:hover{
    text-shadow: .5px .5px blue;
  }
  .condition h1{
    font-size: 20px;
    line-height: 20%;
  }
  h2{
    text-align: center;
  }
.conditionpic{
    height: 250px;
    width: 150px;
}
.cContainer{
    text-align: center;
}

.iframe{
    margin: 0 auto;
    width: 100%;
    height: 500px;
}
